.navbar {
    background-color: #ecc78e;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 160px;
}

.navbar a {
    border-bottom: 1px solid #e0ba7f;
    color: white;
    font-size: .8rem;
    letter-spacing: .1rem;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:first-of-type {
    border-top: 1px solid #e0ba7f;
}

.navbar a:hover {
    background-color: #e0ba7f;
}

.navbar span {
    display: block;
    margin-top: .6rem;
}