html, body {
    color: #66836a; 
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button:focus {
    outline: none;
}

::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.644);
}

::-webkit-scrollbar-thumb { 
  background-color: #66836a; 
  border-radius: 3px;
  -webkit-border-radius: 5px;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url('../src/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'ShadowsIntoLightTwo';
    src: local('ShadowsIntoLightTwo'), url('../src/fonts/ShadowsIntoLightTwo-Regular.ttf');
}