html, body {
    color: #66836a; 
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url('../src/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'ShadowsIntoLightTwo';
    src: local('ShadowsIntoLightTwo'), url('../src/fonts/ShadowsIntoLightTwo-Regular.ttf');
}